body{
    text-align: center;
}
.main{
    border: 2px solid black;
    margin-left: 300px;
    margin-right: 300px;
    margin-top: 100px;
    margin-bottom: 100px;
    background-color: rgb(252, 231, 205);
}
#todo-inp{
    font-size: 35px;

}
.inpstyle{
    margin-top: 30px;
}
.app{
    /* border: 2px solid green; */
    margin-top: 20px;
    margin-left: 60px;
    margin-right: 60px;
    margin-bottom: 20px;
}
#todolist{
    list-style: none;
    background-color: rgb(228, 225, 225);
    
}
.btn1, .btn2{
    font-size: 20px;
    text-align: center;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 14px;
    padding-bottom: 5px;
    
}
/* ul > li {
    font-size: medium;
} */